@media (min-width: 600px) {
.container {
	width: 100%;
	height: 500px;
}
.side-bar {
	background: #08f;
    width: 150px;
    height: 500px;
    float:left;
    border: 2px solid black;

}
.information {
	background: #00c853;
    height: 500px;
    border: 2px solid black;
    margin-left: 5px;
}

.post {
	background: #fc0;
    width: 100%;
    height: 150px;
    margin: 5px 0px;
    border: 2px solid black;
}

}

@media (max-width: 600px) {
 .side-bar {
	background: #08f;
    width: 100%;
    height: 80px;
    border: 2px solid black;
    margin: 5px 0px;
}
.information {
	background: #00c853;
    width: 100%;
    height: 300px;
    border: 2px solid black;
    margin: 5px 0px;
}
.post {
	background: #fc0;
    width: 100%;
    height: 150px;
    margin: 5px 0px;
    border: 2px solid black;
}
}
